<%-include("./partials/header") %> <%- include("./partials/navbar") %>
<h1>Details</h1>
<div
  class="rounded-md border-[1px] mx-auto w-80 text-xl border-black py-2 leading-[1.7] m-4 ml-20"
>
  <div class="px-3 pb-2">
    <p class="flex w-full justify-between">
      <span class="font-medium">Title</span>
      <span class="w-20">: <%= expense.title %></span>
    </p>
    <p class="flex w-full justify-between">
      <span class="font-medium">Amount</span>
      <span class="w-20">: <%= expense.amount %></span>
    </p>
    <p class="flex w-full justify-between">
      <span class="font-medium">Category </span>
      <span class="">: <%= expense.category %></span>
    </p>
    <p class="flex w-full justify-between">
      <span class="font-medium">PaymentMode</span>
      <span class="w-20">: <%= expense.paymentmode %> </span>
    </p>
    <p class="flex w-full justify-between">
      <span class="font-medium">Remark</span>
      <span class="">: <%= expense.remark %> </span>
    </p>
  </div>
  <div class="flex pt-2 border-t border-black gap-10 justify-center">
    <a
      class="bg-red-500 py-1 px-2 rounded text-white font-medium"
      href="/expense/delete/<%= expense._id %>"
      >Delete</a
    >
    <a
      class="bg-emerald-600 py-1 px-2 rounded text-white font-medium"
      href="/expense/update/<%= expense._id %>"
      >Update</a
    >
  </div>
</div>
<%-include("./partials/footer") %>
